:root {
  --primery-text-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --fons-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --svg-color: #757575;
  --background-team-color: #f5f4fa;
  --fill-color: #afb1b8;
}
body {
  background-color: var(--fons-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Утилиты */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* sait nav */
.sait-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.sait-nav-list {
  display: flex;
}
.sait-nav .item:not(:last-child) {
  padding-right: 50px;
}

.flexbox {
  display: flex;
}

.accent {
  color: var(--accent-color);
}

.sait-nav .logo {
  margin-right: 90px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 90px;
}

.sait-nav .link {
  text-decoration: none;
}
.sait-nav > .a {
  color: var(--primery-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.11;
}

.sait-nav .item {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.sait-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 0px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current:focus::after {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;

  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header a:hover svg,
.header a:focus svg {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header a:hover,
.header a:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .flexbox {
  justify-content: flex-end;
  align-items: center;
}
.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
  color: var(--svg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon :hover {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero */
.hero {
  display: flex;
  background-color: #2f303a;
  max-width: 1600px;
  max-height: 600px;
  margin: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-box {
  padding-top: 200px;
  padding-bottom: 200px;
  letter-spacing: 0.06em;

  align-items: center;
  flex-direction: column;
  text-align: center;
  display: inline-flex;
}

.hero-title {
  width: 700px;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 30px;
  align-items: center;

  color: var(--fons-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
/* Button */
.button {
  width: 200px;
  height: 50px;
  border-radius: 4px;

  color: var(--fons-color);
  background: var(--accent-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  border: transparent;
  outline: transparent;
}

/* Section */
.section .features {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-features-title {
  display: none;
}
.section-title {
  color: var(--primery-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
/* Features */
.features-cont {
  padding-top: 0px;
  padding-bottom: 0px;
}
.features-title {
  margin-bottom: 10px;

  color: var(--primery-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  display: flex;
  align-content: stretch;
  width: 270px;

  color: var(--text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
.features-icon-list {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-list {
  display: flex;
  justify-content: space-between;
}
.features-text {
  flex-basis: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}
.features-text:nth-child(4n) {
  margin: 0;
}

.features:nth-last-child(- n + 4) {
  margin: 0px;
}
/* чем мы занимаемся */
.doing {
  padding-top: 0px;
  margin-bottom: 94px;
}
.doing-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.doing-item {
  width: calc((100% - 30px x 2) / 3);
  margin: 0px;
  position: relative;
}
.doing-item:nth-child(3n) {
  margin: 0px;
}
.doing-item:nth-last-child(- n + 3) {
  margin: 0px;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.doing-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.88;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-team-color);

  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  margin: 0;
  transform: translateY(-5%);
  background: rgba(47, 48, 58, 0.8);

  position: absolute;
}
/* наша команда */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-team-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-personal {
  width: calc((100% - 30px x 3) / 4);
  margin-right: 30px;
  background-color: var(--fons-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.imag-team {
  width: 100%;
}
.team-personal:nth-child(4n) {
  margin-right: 0px;
}
.team-personal:nth-last-child(- n + 4) {
  margin-right: 0px;
}
.socisl-icon-list {
  display: flex;
  justify-content: center;
}
.social-icon-item:not(:last-child) {
  margin-right: 10px;
}
.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--fons-color);
  border-radius: 50%;
}
.social-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
  border: 1px;
  border-radius: 12px;
}
.social-icon-link:hover {
  background-color: #2196f3;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover .social-icon {
  fill: var(--fons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: var(--fill-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.naim {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.work {
  color: var(--text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Постояныые клиенты */
.client-cont {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-icon-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.client-icon-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.client-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon-item:not(:last-child) {
  margin-right: 30px;
}
.client-cart-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon-link:hover .client-cart-icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon-link:hover {
  border: 1px solid #2196f3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Footer */
.footer {
  background-color: #2f303a;
  height: 252px;
}

.logo {
  width: 145px;
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0px;

  color: var(--fons-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
}
.address {
  width: 230px;
  margin: 0px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
  justify-content: flex-end;
  align-items: center;
}
.footer-adress {
  width: 251px;
}
.address-text {
  margin-bottom: 10px;

  color: var(--fons-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1/71;
  letter-spacing: 0.03em;
}
.footer-element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-adress a {
  padding-bottom: 9px;
}
.footer-link {
  color: var(--footer-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-icon-list {
  display: inline-flex;
}
.footer-icon-item {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px;
  border-radius: 50%;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-icon-item :hover {
  background: #2196f3;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon :hover {
  fill: var(--fons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--fons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.join {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  width: 145px;
}
.footer-form {
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  width: 570px;
  height: 90px;
  margin-top: 12px;
}
.form-title {
  font-style: normal;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--fons-color);
  margin-bottom: 14px;
}
.footer-form-subscribe {
  display: flex;
}
.form-mail {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 0px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}
.footer-btm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--fons-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border-radius: 4px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border: transparent;
  outline: transparent;
}
.footer-btm::after {
  content: "";
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url(/images/icon\ send.svg);
}

/* Button-portfolio */
.button-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-nav > li {
  margin-right: 10px;

  padding-bottom: 50px;
}

.button-navigeychin {
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-navigeychin:hover {
  background: #2196f3;
  color: var(--fons-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio {
  display: block;
  flex-wrap: wrap;
  padding-top: 94px;
  padding-bottom: 94px;
}
.elements {
  display: flex;
  flex-wrap: wrap;
}
.elemens {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #ececec;
}
.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
}

.portfolio-text-img {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  left: 0;
  bottom: 0;
  position: absolute;
  margin: 63px 24px;
  transform: translateY(300px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
}
.portfolio-img::before {
  display: inline-block;
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transform: translateY(300px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.elemens:nth-child(3n) {
  margin-right: 0px;
}
.elemens:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.elemens:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.elemens:hover .portfolio-text-img {
  opacity: 1;
  transform: translateY(-0px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.elemens:hover .portfolio-img::before {
  opacity: 1;
  transform: translateY(-0px);
  transition: transform 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0px;

  color: var(--primery-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  padding-top: 4px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
  margin: 0px;

  color: var(--text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/* Beckdrop-Modal windov */
.beckdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
}
.beckdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  overflow: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.btm-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  outline: transparent;
}
.btm-close-icon {
  width: 11px;
  height: 11px;
  left: 0px;
  bottom: 0px;
  background-position: center;
  fill: #000000;
}
.btm-close:hover > .btm-close-icon {
  fill: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: block;
  width: 528px;
  height: 581px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 12px;
}

textarea {
  resize: none;
}
.form-fild {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.form-fild-label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: #757575;
}
.form-fild-icon {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(-30%, -5%);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2f303a;
}
.form-fild-coment {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}
.form-fild-input {
  width: 448px;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-fild-icon-input {
  position: relative;
}
.form-fild-input:focus {
  border: 1px solid #2196f3;
}
.form-fild-icon-input:focus-within > .form-fild-icon {
  fill: #2196f3;
}

.form-fild-coment {
  display: flex;
  flex-direction: column;

  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  outline: transparent;
}
.form-fild-coment:focus {
  border: 1px solid #2196f3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.placeholder {
  width: 416px;
  height: 96px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox {
  margin-right: 9px;
}
.form-polisy {
  margin-right: 5px;
}
.modal-btm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  outline: transparent;
}
